---
import "../styles/global.css";
---

<html lang="en" data-theme="silentdestroyer">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/rect5.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>UCI Hacker Fab</title>
	</head>
	<body>
		<!-- Nav bar  -->
		<div class="navbar bg-base-100 -mb-5 shadow-sm sticky top-0 z-10">
			<div class="navbar-start">
			  <div class="dropdown">
				<div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
				  <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /> </svg>
				</div>
				<ul
				  tabindex="0"
				  class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
				  <li><a href="#project-section"><b>Project</b></a></li>
				  <li><a><b>Update</b></a></li>
				  <li><a href="#photo-section"><b>Photo</b></a></li>
				  <li><a href="#contact-section"><b>Contact</b></a></li>
				</ul>
			  </div>
			  <a href="." class="text-3xl lg:ml-5 melbourne">UCIHF</a>
			</div>
			<div class="navbar-end hidden lg:flex mr-5">
				<div class="flex gap-8">
					<a href="#project-section" class="text-base text-neutral-content transition-colors duration-300 hover:text-current"><b>Project</b></a>
					<a  href="." class="text-base text-neutral-content transition-colors duration-300 hover:text-current"><b>Update</b></a>
					<a  href="#photo-section" class="text-base text-neutral-content transition-colors duration-300 hover:text-current"><b>Photo</b></a>
					<a  href="#contact-section" class="text-base text-neutral-content transition-colors duration-300 hover:text-current"><b>Contact</b></a>
				</div>
			</div>
		</div>
		<div class="divider mx-5 sticky top-14 z-10"></div>

		<!-- SVG  -->
		<div class="flex justify-center">
			<svg viewBox="15 35 200 100">
				<g stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round" stroke-width="1">
				<path class="line" d="m 38.561694,75.834322 q -1.8796,0 -3.4036,-0.4826 -1.524,-0.508 -2.6162,-1.4224 -1.0922,-0.9144 -1.6764,-2.2098 -0.5842,-1.2954 -0.5842,-2.8956 v -11.1252 h 4.953 v 10.668 q 0,1.2446 0.9398,2.0066 0.9398,0.762 2.4638,0.762 1.524,0 2.413,-0.7366 0.9144,-0.762 0.9144,-2.032 v -10.668 h 4.953 v 11.1252 q 0,1.5748 -0.6096,2.8702 -0.5842,1.2954 -1.6764,2.2098 -1.0922,0.9144 -2.6416,1.4224 -1.5494,0.508 -3.429,0.508 z"/>
				<path class="line" d="m 59.6028,71.211796 q 1.4478,0 2.667,-0.508 1.2446,-0.5334 2.2098,-1.7526 l 2.8448,3.1242 q -1.27,1.7526 -3.3782,2.7178 -2.1082,0.9398 -4.6736,0.9398 -2.1082,0 -3.8608,-0.6604 -1.7272,-0.6604 -2.9718,-1.8542 -1.2446,-1.2192 -1.9304,-2.8956 -0.6858,-1.7018 -0.6858,-3.7592 0,-1.9812 0.6858,-3.6576 0.7112,-1.6764 1.9558,-2.870199 1.27,-1.2192 2.9972,-1.905 1.7272,-0.6858 3.7846,-0.6858 2.5146,0 4.4704,0.9398 1.9812,0.9144 3.3528,2.692399 l -3.4036,3.048 q -0.8128,-1.1684 -1.905,-1.651 -1.0922,-0.4826 -2.4638,-0.4826 -1.9812,0 -3.2004,1.1684 -1.1938,1.1684 -1.1938,3.302 0,2.2352 1.27,3.5052 1.2954,1.2446 3.429,1.2446 z"/>
				<path class="line" d="m 76.809917,57.444999 h 4.953 v 17.779999 h -4.953 z"/>
				<path class="line" d="m 95.947131,66.723744 q -1.5494,0 -2.6162,0.3048 -1.0414,0.2794 -1.7018,0.7874 -0.635,0.4826 -0.9398,1.0922 -0.2794,0.6096 -0.2794,1.27 v 5.0292 h -4.826 v -12.9032 h 4.6228 l 0.0762,2.7432 q 0.889,-1.4478 2.286,-2.2098 1.397,-0.7874 3.3782,-0.7874 z"/>
				<path class="line" d="m 108.74216,75.201439 h -5.1308 l -5.105402,-12.9032 h 5.207002 l 2.4892,8.4836 2.4638,-8.4836 h 5.207 z"/>
				<path class="line" d="m 117.45778,62.339087 h 4.8514 v 12.9032 h -4.8514 z m 0,-5.6388 h 4.8514 v 3.7846 h -4.8514 z"/>
				<path class="line"  d="m 126.2556,75.478996 v -12.9032 h 4.6228 l 0.0762,1.7526 q 0.7874,-0.9398 1.905,-1.4732 1.1176,-0.5334 2.4892,-0.5334 2.4384,0 3.81,1.397 1.3716,1.397 1.3716,3.9116 v 7.8486 h -4.826 v -6.8072 q 0,-2.0828 -1.9558,-2.0828 -1.1938,0 -1.905,0.7112 -0.7112,0.6858 -0.762,1.905 v 6.2738 z"/>
				<path class="line" d="m 150.5,75.732996 q -1.7018,0 -3.0988,-0.4826 -1.397,-0.4826 -2.413,-1.3462 -0.9906,-0.889 -1.5494,-2.1082 -0.5588,-1.2446 -0.5588,-2.7432 0,-1.4986 0.508,-2.7178 0.5334,-1.2446 1.4732,-2.1336 0.9652,-0.889 2.3114,-1.3716 1.3462,-0.508 2.9718,-0.508 1.6002,0 2.8956,0.4826 1.3208,0.4572 2.2606,1.3208 0.9398,0.8382 1.4478,2.0574 0.5334,1.1938 0.5334,2.667 0,0.2032 -0.0254,0.4572 -0.0254,0.254 -0.0762,0.6096 h -9.2964 q 0.254,1.016 1.0922,1.524 0.8636,0.508 2.2352,0.5334 1.016,0 1.8034,-0.2794 0.8128,-0.3048 1.27,-0.8382 l 2.1082,2.8448 q -0.9652,0.9398 -2.5654,1.4986 -1.5748,0.5334 -3.3274,0.5334 z m 2.2606,-7.6708 q -0.1778,-0.9652 -0.8382,-1.4732 -0.635,-0.508 -1.651,-0.508 -0.9652,0 -1.6002,0.5334 -0.635,0.5334 -0.8382,1.4478 z"/>
				<path class="line" d="m 70.672587,94.372969 h -6.858 v 6.908801 h -4.953 V 83.501769 h 4.953 v 6.223 h 6.858 v -6.223 h 4.953 v 17.780001 h -4.953 z"/>
				<path class="line" d="m 77.140717,94.706054 q 0,-1.4986 0.4318,-2.7178 0.4318,-1.2446 1.2192,-2.1336 0.7874,-0.889 1.8796,-1.3716 1.1176,-0.4826 2.4638,-0.4826 2.8702,0 4.2926,1.7272 l 0.1016,-1.4732 h 4.3434 v 12.903196 h -4.5466 l -0.0508,-1.498596 q -0.7366,0.838196 -1.8034,1.295396 -1.0414,0.4572 -2.3368,0.4572 -1.3462,0 -2.4638,-0.4826 -1.0922,-0.4826 -1.8796,-1.346196 -0.7874,-0.889 -1.2192,-2.1336 -0.4318,-1.2446 -0.4318,-2.7432 z m 4.9022,0 q 0,1.2954 0.6604,2.0574 0.6604,0.7366 1.8288,0.7366 1.2192,0 1.8796,-0.7366 0.6858,-0.762 0.6858,-2.0828 0,-1.2954 -0.6858,-2.032 -0.6604,-0.7366 -1.8034,-0.7366 -1.2192,0 -1.905,0.7366 -0.6604,0.7366 -0.6604,2.0574 z"/>
				<path class="line" d="m 104.6919,92.355363 q -0.381,-0.4318 -1.1176,-0.7112 -0.7112,-0.2794 -1.5494,-0.2794 -1.4986,0 -2.336796,0.762 -0.8382,0.7366 -0.8382,2.032 0,1.3716 0.8128,2.1336 0.838196,0.762 2.209796,0.762 0.9144,0 1.651,-0.2794 0.762,-0.2794 1.1684,-0.7366 l 2.0828,2.8448 q -0.9652,0.9652 -2.4384,1.498597 -1.4478,0.5334 -3.1242,0.5334 -1.625596,0 -2.971796,-0.4572 -1.3462,-0.482597 -2.3114,-1.346197 -0.9652,-0.889 -1.4986,-2.1082 -0.5334,-1.2192 -0.5334,-2.7178 0,-1.4986 0.5334,-2.7432 0.5588,-1.27 1.5494,-2.159 0.9906,-0.888999 2.3876,-1.371599 1.397,-0.508 3.124196,-0.508 1.524,0 2.8194,0.4572 1.2954,0.4572 2.1844,1.3462 z"/>
				<path class="line" d="m 121.87279,87.583049 -5.0038,5.791199 5.461,7.162802 h -5.6134 l -3.6576,-5.105402 v 5.105402 q -0.1524,0 -0.889,0 -0.7366,0 -1.5748,0 -0.8382,0.0254 -1.5494,0.0254 -0.7112,0 -0.8128,0 V 81.995049 h 4.826 v 9.753599 l 3.429,-4.165599 z"/>
				<path class="line" d="m 129.19561,101.03929 q -1.7018,0 -3.0988,-0.4826 -1.397,-0.4826 -2.413,-1.346196 -0.9906,-0.889 -1.5494,-2.1082 -0.5588,-1.2446 -0.5588,-2.7432 0,-1.4986 0.508,-2.7178 0.5334,-1.2446 1.4732,-2.1336 0.9652,-0.889 2.3114,-1.3716 1.3462,-0.508 2.9718,-0.508 1.6002,0 2.8956,0.4826 1.3208,0.4572 2.2606,1.3208 0.9398,0.8382 1.4478,2.0574 0.5334,1.1938 0.5334,2.667 0,0.2032 -0.0254,0.4572 -0.0254,0.254 -0.0762,0.6096 h -9.2964 q 0.254,1.016 1.0922,1.524 0.8636,0.508 2.2352,0.5334 1.016,0 1.8034,-0.2794 0.8128,-0.3048 1.27,-0.8382 l 2.1082,2.8448 q -0.9652,0.9398 -2.5654,1.498596 -1.5748,0.5334 -3.3274,0.5334 z m 2.2606,-7.670796 q -0.1778,-0.9652 -0.8382,-1.4732 -0.635,-0.508 -1.651,-0.508 -0.9652,0 -1.6002,0.5334 -0.635,0.5334 -0.8382,1.4478 z"/>
				<path class="line" d="m 148.01258,92.177563 q -1.5494,0 -2.6162,0.3048 -1.0414,0.2794 -1.7018,0.7874 -0.635,0.4826 -0.9398,1.0922 -0.2794,0.6096 -0.2794,1.27 v 5.029197 h -4.826 V 87.757964 h 4.6228 l 0.0762,2.743199 q 0.889,-1.447799 2.286,-2.209799 1.397,-0.7874 3.3782,-0.7874 z"/>
				<path class="line" d="m 155.92327,83.129401 h 13.2334 v 4.6482 h -8.2804 v 2.7686 h 7.62 v 4.3688 h -7.62 v 5.994399 h -4.953 z"/>
				<path class="line" d="m 170.47883,94.581924 q 0,-1.4986 0.4318,-2.7178 0.4318,-1.2446 1.2192,-2.1336 0.7874,-0.889 1.8796,-1.3716 1.1176,-0.4826 2.4638,-0.4826 2.8702,0 4.2926,1.7272 l 0.1016,-1.4732 h 4.3434 v 12.903196 h -4.5466 l -0.0508,-1.498596 q -0.7366,0.838196 -1.8034,1.295396 -1.0414,0.4572 -2.3368,0.4572 -1.3462,0 -2.4638,-0.4826 -1.0922,-0.4826 -1.8796,-1.346196 -0.7874,-0.889 -1.2192,-2.1336 -0.4318,-1.2446 -0.4318,-2.7432 z m 4.9022,0 q 0,1.2954 0.6604,2.0574 0.6604,0.7366 1.8288,0.7366 1.2192,0 1.8796,-0.7366 0.6858,-0.762 0.6858,-2.0828 0,-1.2954 -0.6858,-2.032 -0.6604,-0.7366 -1.8034,-0.7366 -1.2192,0 -1.905,0.7366 -0.6604,0.7366 -0.6604,2.0574 z"/>
				<path class="line"  d="m 201.93059,94.457793 q 0,1.4986 -0.4318,2.7432 -0.4318,1.2446 -1.2192,2.1336 -0.7874,0.863597 -1.905,1.346197 -1.0922,0.4826 -2.4384,0.4826 -1.3462,0 -2.3876,-0.4572 -1.0414,-0.4572 -1.778,-1.320797 l -0.0254,1.523997 h -4.572 V 82.367394 h 4.7752 v 6.781799 q 1.4732,-1.396999 3.9878,-1.396999 1.3462,0 2.4384,0.4826 1.1176,0.482599 1.905,1.371599 0.7874,0.889 1.2192,2.1336 0.4318,1.2192 0.4318,2.7178 z m -4.9276,0 q 0,-1.3208 -0.6858,-2.0574 -0.6604,-0.7366 -1.8542,-0.7366 -1.143,0 -1.8288,0.7366 -0.6604,0.7366 -0.6604,2.032 0,1.3208 0.6604,2.0828 0.6858,0.7366 1.905,0.7366 1.1684,0 1.8034,-0.7366 0.6604,-0.762 0.6604,-2.0574 z"/>
				</g>
			</svg>
		</div>

		<!-- Curly brace element-->
		<div class="flex items-center gap-2 ml-5 lg:ml-30 md:ml-15 sm:ml-10">
		  <span class="text-3xl lg:text-8xl md:text-8xl sm:text-5l" style="font-weight: 100;">&#123</span>
		  <div class="text-xs lg:text-xl md:text-xl sm:text-sm text-center">
		    A low-cost, open source semiconductor fab at the <br> University of California Irvine. Part of Hacker Fab
		  </div>
		  <span class="text-3xl lg:text-8xl md:text-8xl sm:text-5l" style="font-weight: 100;">&#125</span>
		</div>

		<!-- Project section -->
		<div class="divider mx-20 lg:mt-10"></div>
		<div id="project-section" class="flex flex-col items-center lg:mt-5">
			<p class="text-center text-2xl lg:text-5xl"><b>Project</b></p>
		</div>
				<!-- Cards section -->
			<div class="flex flex-col items-center justify-center mt-10">
				<div class="grid grid-cols-1 lg:grid-cols-2 md:grid-cols-2 gap-6">
					<!-- Card 1 -->
					<div class="card w-96 shadow-sm bg-[#191919]">
						<figure>
						<div class="w-full h-70">
						<img
						class="object-cover"
							src="https://upload.wikimedia.org/wikipedia/commons/d/d7/Autostep_i-line_stepper.jpg"
							alt="litho stepper" />
						</div></figure>
						<div class="card-body">
						<h2 class="card-title">Litho Stepper</h2>
						<p style="font-weight: 100;">A card component has a figure, a body part, and inside body there are title and actions parts</p>
						<div class="card-actions justify-end">
							<a href="https://docs.hackerfab.org/home/fab-toolkit/patterning/lithography-stepper-v2-build-work-in-progress" target="_blank"><button class="btn btn-primary">Read more</button></a>
						</div>
						</div>
					</div>

					<!-- Card 2 -->
					<div class="card w-96 shadow-sm bg-[#191919]">
						<figure>
						<div class="w-full h-70">
						<img
						class="object-cover"
							src="https://epsc.wustl.edu/imse/website/spincoater.jpg"
							alt="Spin coater" />
						</div></figure>
						<div class="card-body">
						<h2 class="card-title">Spin Coater</h2>
						<p style="font-weight: 100;">A card component has a figure, a body part, and inside body there are title and actions parts</p>
						<div class="card-actions justify-end">
							<a href="https://docs.hackerfab.org/home/fab-toolkit/deposition/spin-coater-v2-build-work-in-progress" target="_blank"><button class="btn btn-primary">Read more</button></a>
						</div>
						</div>
					</div>

					<!-- Card 3 -->
					<div class="card w-96 shadow-sm bg-[#191919]">
						<figure>
						<div class="w-full h-70">
						<img
						class="object-cover"
							src="https://upload.wikimedia.org/wikipedia/commons/0/01/Horno_tubular.jpg"
							alt="furnance" />
						</div></figure>
						<div class="card-body">
						<h2 class="card-title">Tube furnace</h2>
						<p style="font-weight: 100;">A card component has a figure, a body part, and inside body there are title and actions parts</p>
						<div class="card-actions justify-end">
							<a href="https://docs.hackerfab.org/home/fab-toolkit/other-processing-machines/tube-furnace" target="_blank"><button class="btn btn-primary">Read more</button></a>
						</div>
						</div>
					</div>

					<!-- Card 4 -->
					<div class="card w-96 shadow-sm bg-[#191919]">
						<figure>
						<div class="w-full h-70">
						<img
						class="object-cover"
							src="https://upload.wikimedia.org/wikipedia/commons/7/70/Sputtering_system.jpg"
							alt="sputtering" />
						</div></figure>
						<div class="card-body">
						<h2 class="card-title">Sputtering</h2>
						<p style="font-weight: 100;">A card component has a figure, a body part, and inside body there are title and actions parts</p>
						<div class="card-actions justify-end">
							<a href="https://docs.hackerfab.org/home/fab-toolkit/deposition/sputtering-chamber" target="_blank"><button class="btn btn-primary">Read more</button></a>
						</div>
						</div>
					</div>
				</div>
			</div>

		<!-- Photo section --> 
		<div class="divider mx-20 lg:mt-10"></div>
		<div id="photo-section" class="flex flex-col items-center lg:mt-5">
			<p class="text-center text-2xl lg:text-5xl"><b>Photo</b></p>
		</div>
			
			<!-- Carousel section -->
			<div class="flex justify-center mt-10">
				<div class="carousel rounded-box max-w-[400px] max-h-[225px] lg:max-w-[800px] lg:max-h-[450px]  md:max-w-[600px] md:max-h-[337px]">		
					<div id="carousel-container">
				   </div>
				</div>
			</div>
			<!-- Tab change section -->
			<div class="flex gap-2 mt-4 justify-center mt-6">
				<input type="radio" name="carousel-radio" id="radio1" class="hidden" value="slide1" />
				<label for="radio1" class="btn btn-sm btn-outline lg:btn">Category 1</label>
				<input type="radio" name="carousel-radio" id="radio2" class="hidden" value="slide2" />
				<label for="radio2" class="btn btn-sm btn-outline lg:btn">Category 2</label>
				<input type="radio" name="carousel-radio" id="radio3" class="hidden" value="slide3" />
				<label for="radio3" class="btn btn-sm btn-outline lg:btn">Category 3</label>
				<input type="radio" name="carousel-radio" id="radio4" class="hidden" value="slide4" />
				<label for="radio4" class="btn btn-sm btn-outline lg:btn">Category 4</label>
			</div>

		<!-- Footer/Contact section -->
		<footer id="contact-section" class="footer text-base-content p-10 mt-10 border-base-300 border-t flex flex-col lg:flex-row lg:justify-center items-start lg:gap-65">
			<nav class="flex flex-col items-start">
				<h6 class="text-base-content"><b>CONTACT</b></h6>
				<p class="text-neutral-content">contact@hackerfab.org</p>
			</nav>
			<nav class="flex flex-col items-start">
				<h6 class="text-base-content">LOCATION</h6>
				<p class="text-neutral-content">UC Irvine
					<br>260 Aldrich Hall
					<br>Irvine, CA 92697</p>
			</nav>
			<nav class="flex flex-col items-start">
				<h6 class="text-base-content"><b>LINK</b></h6>
				<div class="flex gap-4">
					<a href="https://docs.hackerfab.org/home" class="text-base text-neutral-content transition-colors duration-300 hover:text-current hover:fill-base-content"  target="_blank">
						<svg fill="currentColor" width="40px" height="40px" viewBox="0 0 24 24" role="img" xmlns="http://www.w3.org/2000/svg" class="transition-colors duration-300">
							<path d="M10.802 17.77a.703.703 0 1 1-.002 1.406.703.703 0 0 1 .002-1.406m11.024-4.347a.703.703 0 1 1 .001-1.406.703.703 0 0 1-.001 1.406m0-2.876a2.176 2.176 0 0 0-2.174 2.174c0 .233.039.465.115.691l-7.181 3.823a2.165 2.165 0 0 0-1.784-.937c-.829 0-1.584.475-1.95 1.216l-6.451-3.402c-.682-.358-1.192-1.48-1.138-2.502.028-.533.212-.947.493-1.107.178-.1.392-.092.62.027l.042.023c1.71.9 7.304 3.847 7.54 3.956.363.169.565.237 1.185-.057l11.564-6.014c.17-.064.368-.227.368-.474 0-.342-.354-.477-.355-.477-.658-.315-1.669-.788-2.655-1.25-2.108-.987-4.497-2.105-5.546-2.655-.906-.474-1.635-.074-1.765.006l-.252.125C7.78 6.048 1.46 9.178 1.1 9.397.457 9.789.058 10.57.006 11.539c-.08 1.537.703 3.14 1.824 3.727l6.822 3.518a2.175 2.175 0 0 0 2.15 1.862 2.177 2.177 0 0 0 2.173-2.14l7.514-4.073c.38.298.853.461 1.337.461A2.176 2.176 0 0 0 24 12.72a2.176 2.176 0 0 0-2.174-2.174"/>
						</svg>
					</a>
					<a href="https://github.com/hacker-fab/" class="text-base text-neutral-content transition-colors duration-300 hover:text-current hover:fill-base-content"  target="_blank">
						<svg fill="currentColor" width="40px" height="40px" viewBox="0 0 24 24" role="img" xmlns="http://www.w3.org/2000/svg" class="transition-colors duration-300">
							<path d="M12 2.005c-5.51 0-9.995 4.485-9.995 9.995 0 4.406 2.865 8.137 6.835 9.475.5.09.685-.215.685-.48 0-.235-.01-1.02-.015-1.86-2.78.605-3.37-1.34-3.37-1.34-.455-1.165-1.11-1.475-1.11-1.475-.91-.62 0-.605.07-.605 1.005.07 1.53.96 1.53.96.895 1.525 2.34 1.09 2.91.83.09-.605.35-1.09.635-1.34-2.22-.25-4.555-1.105-4.555-4.925 0-1.09.39-1.985 1.03-2.685-.105-.25-.45-1.27.095-2.64 0 0 .84-.27 2.75 1.02.795-.22 1.635-.33 2.475-.33.84 0 1.68.11 2.475.33 1.91-1.29 2.745-1.02 2.745-1.02.545 1.37.2 2.39.095 2.64.64.7 1.025 1.595 1.025 2.685 0 3.83-2.335 4.67-4.565 4.92.35.3.675.895.675 1.815 0 1.315-.015 2.37-.015 2.695 0 .26.18.575.69.47 4.005-1.335 6.83-5.06 6.83-9.465 0-5.51-4.49-9.995-9.99-9.995z"/>
						</svg>
					</a>
					<a href="https://zotmail.uci.edu/Public/ClickMessage.aspx?LinkId=65915a99-1742-4c08-91d8-d4b2f55aedae&ZotMailId=W+ckSknwSFVS3amOyjxqFw==" class="text-base text-neutral-content transition-colors duration-300 hover:text-current hover:fill-base-content" target="_blank">
						<svg fill="currentColor" width="40px" height="40px" viewBox="0 0 24 24" role="img" xmlns="http://www.w3.org/2000/svg" class="transition-colors duration-300">
							<path d="M18.59 5.88997C17.36 5.31997 16.05 4.89997 14.67 4.65997C14.5 4.95997 14.3 5.36997 14.17 5.69997C12.71 5.47997 11.26 5.47997 9.83001 5.69997C9.69001 5.36997 9.49001 4.95997 9.32001 4.65997C7.94001 4.89997 6.63001 5.31997 5.40001 5.88997C2.92001 9.62997 2.25001 13.28 2.58001 16.87C4.23001 18.1 5.82001 18.84 7.39001 19.33C7.78001 18.8 8.12001 18.23 8.42001 17.64C7.85001 17.43 7.31001 17.16 6.80001 16.85C6.94001 16.75 7.07001 16.64 7.20001 16.54C10.33 18 13.72 18 16.81 16.54C16.94 16.65 17.07 16.75 17.21 16.85C16.7 17.16 16.15 17.42 15.59 17.64C15.89 18.23 16.23 18.8 16.62 19.33C18.19 18.84 19.79 18.1 21.43 16.87C21.82 12.7 20.76 9.08997 18.61 5.88997H18.59ZM8.84001 14.67C7.90001 14.67 7.13001 13.8 7.13001 12.73C7.13001 11.66 7.88001 10.79 8.84001 10.79C9.80001 10.79 10.56 11.66 10.55 12.73C10.55 13.79 9.80001 14.67 8.84001 14.67ZM15.15 14.67C14.21 14.67 13.44 13.8 13.44 12.73C13.44 11.66 14.19 10.79 15.15 10.79C16.11 10.79 16.87 11.66 16.86 12.73C16.86 13.79 16.11 14.67 15.15 14.67Z"/>
						</svg>
					</a>
				</div>
			</nav>
		</footer>
		<footer class="footer text-base-content px-10 py-4 justify-center">
			<aside class="grid-flow-col items-center">
				<p>© 2025 Hacker Fab UCI. All rights reserved.</p>
			</aside>
		</footer>
		
	</body>
	<script src="../scripts/dynamic-carousel.js"></script>
	<script src="../scripts/title-animation.js"></script>
	<script src="../scripts/tilted-card.js"></script>
</html>
